# 编辑器和IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db
desktop.ini

# 临时文件
*.tmp
*.bak
*.log

# 压缩包
*.rar
*.zip
*.7z

# 工具文件
直播源文本批量编辑扫源工具*

# 原始文件目录（保留在本地，不上传）
sources/

# Excel文件
*.xlsx
*.xls

# 其他不需要的文件
*.js
movies.m3u8
组播ip.txt
P5P.txt
